html {
    background-color: black;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.earth_gif {
    transform: translate(-450px, -100px) scale(1.2, 1.35)
}

.logo {
    color: whitesmoke;
    transform: translateY(200px); 
    font-size: 65px;

}

.log_button {
    color: black;
    height: 55px;
    width: 150px;
    font-size: 20px;
    border-radius: 15px;
    transform: translateY(180px);
}

.main_screen {
    transform: translateY(50px);
}

.log_button a:hover {
    color: white;
    font-size: 30px;
}

.log_button:hover {
    color: white;
    border-color: azure;
    background-color: black;
    height: 60px;
    width: 155px;
}