html {
    background: black;
    font-size: 20px;
}

#footer {
    color: aliceblue;
}

h1 {
    color: rgb(255, 244, 229);
    font: bold;
}

h2 {
    color: rgb(240, 225, 205);
    font: bold;
}

h3 {
    color: rgb(255, 228, 194);
    font: bold;
}

p {
    color:rgb(255, 249, 237);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color:rgb(155, 202, 243);
    text-decoration: none;
}

body {
    margin: 0;
}

#footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: rgb(36, 34, 34);
}

#ulhornavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(29, 29, 29);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* ulhornavbar будет айди для списка ul в горизонтальном навбаре*/

#lihornavbar {
    margin: auto;
    display: inline-block;
}

#lihornavbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 45px;
    text-decoration: none;
    border-radius: 15px;
}

#lihornavbar:hover {
    width: 205px;
}

#lihornavbar a:hover {
    color: rgb(79, 64, 40);
    background-color: #f7b335;
    border-radius: 15px;
}

.active {
    color: rgb(29, 29, 29);
    background-color: #bc8b30af;
    border-radius: 15px;
}